/* Disease.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .disease-container {
    display: flex;

    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .first{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 120px;
  }
  .second{
    display: flex;
    flex-direction: row;
    margin-left: 120px;
  }
  .third{
    display: flex;
    flex-direction: row;
    margin-left: 120px;
  }
  .one ,
  .two,
  .three,
  .four,
  .five,
  .six,
  .seven,
  .eight,
  .nine{
    height: 220px;
    width: 200px;
    padding: 10px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.63);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.847);
    border-radius: 5px;
    margin: 10px;
    display: inline-block;
  }
  @media(max-width: 1360px){

img{

  height: 120px;
  width: 120px;
}
p{
  font-size: small;
  color: white;
}
.one ,
  .two,
  .three,
  .four,
  .five,
  .six,
  .seven,
  .eight,
  .nine{
    height: 190px;
    width: 170px;
    padding: 10px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.701);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.847);
    border-radius: 5px;
    margin: 10px;
    display: inline-block;
  }

  }
  @media(max-width:1200px){
    .first{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-left: 200px;
    }
    .second{
      display: flex;
      flex-direction: column;
      margin-left: 200px;
    }
    .third{
      display: flex;
      flex-direction: column;
      margin-left: 200px;
    }

    .one ,
    .two,
    .three,
    .four,
    .five,
    .six,
    .seven,
    .eight,
    .nine{
      height: 250px;
      width: 250px;
      padding: 10px;
      border: 2px solid black;
      background-color: rgba(0, 0, 0, 0.557);
      box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.847);
      border-radius: 5px;
      margin: 10px;
      display: inline-block;
    }
    img{

      height: 200px;
      width: 200px;
    }
    p{
      font-size: large;
      color: white;
    }
  }

  @media(max-width:450px){
    .first{
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .second{
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .third{
      display: flex;
      justify-content: center;
      flex-direction: column;
      
    }

    .one ,
    .two,
    .three,
    .four,
    .five,
    .six,
    .seven,
    .eight,
    .nine{
      height: 250px;
      width: 250px;
      padding: 10px;
      border: 2px solid black;
      background-color: rgba(0, 0, 0, 0.468);
      box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.847);
      border-radius: 5px;
      align-items: center;
      margin: 10px;
      display: inline-block;
    }
    img{

      height: 200px;
      width: 200px;
    }
    p{
      font-size: large;
      color: white;
    }
  }
  