.main{

    display: flex;
    flex-direction: row;
    background: rgb(18,196,18);
background: radial-gradient(circle, rgba(18,196,18,1) 0%, rgba(158,233,148,1) 100%);
}

.Image{

    width: 40%;
    height: 100%:
    /* background-color: gray; */
    
}
.disease{

    width: 60%;
    height: 100%;
    /* background-color: rgb(31, 164, 164); */

}
.button{
    width: 60%;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: larger;
    font-weight: 600;
    background-color: rgba(0, 128, 0, 0.292);
}