.image-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
  }
  
  .selected-image,
  .default-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .selected-image img {
    max-width: 250px;
    max-height: 250px;
  }
  
  .default-image img {
    max-width: 250px;
    max-height: 250px;
  }
  
  .selected-image button,
  .default-image button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .selected-image button:hover,
  .default-image button:hover {
    background-color: #0056b3;
  }