.info {
  height: 300px;
  width: 100%;
  background: rgb(235,238,235);
  background: linear-gradient(90deg, rgba(235, 238, 235, 0.429) 0%, rgba(37, 231, 225, 0.283) 40%, rgba(134, 255, 107, 0.329) 100%);
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  
  align-items: center;
  text-align: center;
  }
  
.heading {
  margin-bottom: 20px;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  
}

.f {
  flex: 1;
  text-align: center;
 
  margin-right: 30px;
  margin-left: 30px;
}
.s {
  flex: 1;
  text-align: center;
  margin-right: 30px;
  margin-left: 30px;
}
.t {
  flex: 1;
  text-align: center;
  margin-right: 30px;
  margin-left: 30px;
}
