.info {
  height: 300px;
  width: 100%;
  background: rgb(18,196,18);
  background: radial-gradient(circle, #12c412 0%, rgba(158,233,148,1) 100%);
  display: flex;
  flex-direction: column;
  
  align-items: center;
  text-align: center;
  }
  
.heading {
  margin-bottom: 20px;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.f {
  flex: 1;
  text-align: center;
 
  margin-right: 30px;
  margin-left: 30px;
}
.s {
  flex: 1;
  text-align: center;
  margin-right: 30px;
  margin-left: 30px;
}
.t {
  flex: 1;
  text-align: center;
  margin-right: 30px;
  margin-left: 30px;
}
